button {
    margin-top: 10px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 5%;
    width: 100%;
    padding: 10px;
    font-size: large;
    outline: none;
}

button:hover {
    background-color: #C1220B;
    transition: 0.6s;
}

label {
    font-size: large;
}

input {
    height: 15%;
}